.text-icon{
    font-size: 25px;
    color: rgb(223, 45, 45);
}
/* Input Browse */
.image-upload>.CostumInput {
    display: none;
  }

.iconUploadImg{
    margin-top: 8px;
    width: 29px;
    cursor: pointer;
}


/* Postingan */
/* Body */
.cardPostingCostum{
    max-height: 250px;
    max-width: 500px;
    margin: auto;
    border: 1px solid rgb(221, 189, 189);
}
/* Like ,Komment, Share */
.aMargin{
    margin-left: 25px;
    text-decoration: none;
}


.costumTextJudul{
    margin: 0;
}
.imgPostingProfile{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.costumImgPostingProfile{
    margin: auto;
}

.CostumPosting{
    margin: 20px;
}

/* Modal Katergori */
/* Input Cekbox */
.costumModalMargin{
    margin: 12px;
}