.fontku {
    color: DodgerBlue;
    text-align: center;
    margin: 30px;
  }
.opsi{
    text-align: center;
}
.formku{
  width: 400px;
  font-size: 20px;  
}

.profilContainer{
  display: flex;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  
}

.imgcontainer{
  display: flex;
  float: left;
  overflow: hidden;
}
.contentimg{
  width: 100%;
  height: auto;
}

.opsi { 
  width: 100%; 
  text-align: center;
  font-size: 18px; 
  border-bottom: 1px solid rgb(151, 124, 124); 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h2 span { 
   background:#f7f7f7; 
   padding:0 10px;
   color:rgb(17, 16, 16); 
}

.ProfilBtn{
  color: white;
}

.ProfilBtn:hover{
  color: white;
  text-decoration: none;
}