.headerHeight{
  margin-top: 125px;
}

.cardView {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .titleView {
    color: grey;
    font-size: 18px;
  }
  
.ukuran{
    width: 100%;
}

.profileBtnEdit{
  color: white;
}
.profileBtnEdit:hover{
  text-decoration: none;
  color: white;
}