a.btn {
    background-color: #fa5853;
    color: white;
}

h2.styling{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

p.styling{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}