.container-card-Artikel-margin{
    margin-top: 60px;
}

.text-artikel{
    font-weight: bold;
    font-size: 24px;
}

.forumImg{
    width: 50px;
    height: 50px;
    border: black solid 1px;
    border-radius: 150px;
}

.textForum{
    font-size: 18px;
    font-weight: bold;
}

.textIconForum{
    font-size: 18px;
}

.btnForum{
    padding: 6 35px;
}