.styling-my-home{
    background-image: url('../../assets/image/home-bg.png');
}
  
.home-title{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold 700!important;
    font-size: 5em;
}

.home-small-title{
    margin-top: 3em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold 700!important;
    font-size: 1.5em;
    letter-spacing: 0.3em;
}

.home-exp{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.btn-register-home{
    border: 0.25em solid white;
    border-radius: 2em;
    width: 10em;
    font-size: 1.5em !important;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
    margin-bottom: 5.8em;
    font-weight: 600;
}

.btn-register-home:hover{
    border: 0.25em solid black;
    color: black;
}

.col-judul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-gambar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flat-design{
    height: 24em;
    width: auto;
    margin-top: 0.7em;
}

.col-exp-about{
    text-align: center;
    margin-top: 20em;
    margin-bottom: 20em;
}

.exp-abt{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.col-exp-feature{
    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em;
}

.col-exp-our-team{
    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em;
}

h2.judul{
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h3.judul{
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p.exp{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: justify;
}

p.exp1{
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.linked-projects{
    margin-right: 2em;
    margin-left: 2em;
    color: white;
}

.linked-projects:hover{
    color: #FA5853;
}