.costum-my-icon{
    margin-left: 1em;
    color: #FA5853;
}

.costum-my-icon:hover{
    color: #fedddc;
}

.navbar-dash{
    background-color:white;
    box-shadow: 0 1px 6px 0 #242021;
    height: 4em;
}

.btn-search{
    width: 15em !important;
    border-radius: 2em !important;
    border: .1em solid #FA5853 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn-search:focus{
    box-shadow: 0 0 3px 3px #fedddc !important;
    width: 30em !important;
}

.avatar{
    width: 2.1em;
    height: 2.1em;
    margin-left: 2em;
    border: 0.1em solid #FA5853;
}

.avatar:hover{
    border: 0.1em solid #fedddc;
}

.sub-menu{
    margin-top: 1em !important;
}

.costum-toggler.navbar-toggler{
    border: 0.1em solid #FA5853 !important;
}

.costum-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,88,83,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jdl-dd-nav{
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.sub-dd-nav{
    padding-left: 1.5em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.sub-dd-nav .linkedin{
    color: black;
    text-decoration: none;
}