.costum-home{
    margin-left: 2em;
    margin-right: 2em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor:pointer;
}

.costum-home:hover{
    color: black;
    text-decoration: none;
}

.navbar-dashi{
    background-color: #FA5853;
    box-shadow: 0 1px 6px 0 #242021;
    height: 4em;
}

.costum-toggler-home.navbar-toggler{
    border: 0.1em solid white !important;
}

.costum-toggler-home .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
