.containerHeight{
    margin-top: 60px;
}
.iconWidth {
    font-size: 20px;
    margin-right: 50px;
    color: black;
}

.iconWidth:hover{
    color: brown;
}

.carouselWidth{
    height: 400px;
}


/* Trending */
.cardTrending{
    border: none;
}

.cardBodyWidth{
    padding: 0;
    
}

.cardImg{
    width: 120px;
    margin: auto;
}

.trendingTextBtn{
    font-weight: bold;
    padding: 12px;
    margin: 20px 5px;
    width: 200px;
}

/* Artikel */
.cardImgArtikel{
    width: 200px;
    height: 150px;
    margin: 20px auto;
}

.cardArtikel{
    border: none;
    height: 440px;    
}

.cardBodyWidthHeight{
    padding: 0;
    height: 400px;
}

/* Forum */
.forumImg{
    width: 90px;
    height: 90px;
    border: black solid 1px;
    border-radius: 150px;
}
.textForum{
    font-family: Helvetica, Arial,sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.textIconForum{
    font-size: 20px;
}

.btnForum{
    padding: 6 35px;
}