.CostumContainerMenuKiri{
    margin-top: 60px;
}

.costumImgProfileMenukiri{
    width: 95px;
    margin: auto;
}

.costumBtnMenuKiri{
    width: 85%;
    margin-top: 10px;
    font-weight: bold;
}

.costumBtnMenuKiri:hover{
    background-color: rgb(255, 125, 125);
    color: white;
}