.customImgLayout{
    margin: auto;
}
.costumImgGroupAdd{
    width: 100%;
}

.customInputGroup{
    border-radius: 40px;
    margin-bottom: 25px;
}

.customTextGroup{
    font-size: 24px;
}

.customFormGroup{
    margin-top: 65px;
}

.customBtnGroup{
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.customBtnGroup:hover{
    text-decoration: none;
    color: white;
}

/* Group Dashboard */

.customImgGroupDashboadProfile{
    width: 200px;
    height: 200px;
}

.customCardMarginGroupDasboard{
    margin-top: 80px;
}

.customGroupDashboardAddAnggota{
    margin: 0;
}

.customInputTugasGroupDashboard{
    width: 150px;
    margin-bottom: 8px;
}