.container-card-tranding-margin{
    margin-top: 60px;
}
.text-tranding{
    font-weight: bold;
    font-size: 24px;
}
.image-tranding-style{
    width: 45px;
}

.textTag{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 19px;
}

.textTag-info{
    margin: 0;
    padding: 0;
}

.textTag-info-tranding{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "roboto";
}